<ion-header>
  <ion-toolbar color="primary">
    <ion-title>¡EMPECEMOS CON EL CAMBIOOO!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué deseas hacer?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="success">Botón 1</ion-button>
      <ion-button expand="block" color="warning">Botón 2</ion-button>
      <ion-button expand="block" color="danger">Botón 3</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
